<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: title" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Tambah Pegawai</title>
</head>
<body>
<h2>Tambah Pegawai</h2>
    <form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
        <input type="text" name="nama"/>
        <input type="text" name="tempatLahir"/>
        <input type="date" name="tanggalLahir"/>
        <input type="number" name="tahunMasuk"/>
        <select name="Provinsi">
            <option value="Aceh">Aceh</option>
            <option value="Padang">Padang</option>
            <option value="Jakarta">Jakarta</option>
            <option value="Bandung">Bandung</option>
        </select>
        <select name="Nama Instansi">
            <option value="Traveloka">Traveloka</option>
            <option value="Tokopedia">Tokopedia</option>
            <option value="Go-jek">Go-jek</option>
            <option value="Bukalapak">Bukalapak</option>
        </select>
        <select name="Jabatan">
            <option value="CEO">CEO</option>
            <option value="CTO">CTO</option>
            <option value="Staf">Staf</option>
            <option value="PM">PM</option>
        </select>
        <button type="submit">Simpan</button>
    </form>
</body>
</html>