<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:replace="fragments/fragment :: headerFragment('Cari Pegawai')"></title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
			<form th:action="@{/pegawai/cari}" method="GET">
				
				<p>
				<div class="row">
					<div class="col-lg-4">Provinsi</div>
					<div class="col-lg-4">
						<select id="provinsi" name="IdProvinsi">
							<option disabled="disabled" selected="selected" >Pilih Provinsi</option>
						    <option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}"/>
						</select>
					</div>
				</div>
				</p>
				
				<p>
				<div class="row">
					<div class="col-lg-4">Nama Instansi</div>
					<div class="col-lg-4">
						<select name="IdInstansi" id="instansi">
						   <option disabled="disabled" selected="selected" >Pilih Instansi</option>
						</select>
					</div>
				</div>
				</p>
				
				<p>
				<div class="row">
					<div class="col-lg-4">Jabatan</div>
					<div class="col-lg-8" >
						<select name="IdJabatan" class="col-lg-12">
							<option disabled="disabled" selected="selected" >Pilih Jabatan</option>
						    <option th:each="jabatan, status : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"/>
						</select>
						
					</div>
						
				</div>
				</p>
				
				<button type="submit" name="search">Search</button>
			</form>
		
		
		<hr>
		
		<table id="table_id" class="display">
			<thead>
					<tr>
						<th>NIP</th>
						<th>Nama</th>
						<th>Tempat Lahir</th>
						<th>Tanggal Lahir</th>
						<th>Tahun Masuk</th>
						<th>Nama Instansi</th>
						<th>Jabatan</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pegawai : *{listPegawai}">
						<td th:text="${pegawai.nip}"></td>
						<td th:text="${pegawai.nama}"></td>
						<td th:text="${pegawai.tempatLahir}"></td>
						<td th:text="${pegawai.tanggalLahir}"></td>
						<td th:text="${pegawai.tahunMasuk}"></td>
						<td th:text="${pegawai.instansi.nama}"></td>
						<td>
							<ol>
								<li th:each="jabatan: ${pegawai.jabatanPegawaiList}" th:text="${jabatan.jabatan.nama}"></li>
							</ol>
						</td>
					
					
					</tr>
				</tbody>
			
		</table>

		<script>
			$(document).ready( function () {
				$("#cariPegawai").addClass("active");
			    $('#table_id').DataTable();
			} );
			
			$('#provinsi').change(
			     function() {
			         $.getJSON("/instansi/tambah", {
			             provinsiId : $(this).val(),
			             ajax : 'true'
			         }, function(data) {
			             var html = '<option value="">Pilih Instansi</option>';
			             var len = data.length;
			             for ( var i = 0; i < len; i++) {
			                 html += '<option value="' + data[i].id + '">'
			                         + data[i].nama + '</option>';
			             }
			             html += '</option>';
			             $('#instansi').html(html);
				});
			});
		</script>
			
	</body>
</html>