<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: title" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <!--<nav th:replace="fragments/fragment :: navbar"></nav>-->
    <!--<h3>Sistem Informasi Kepegawaian</h3>-->
    <!--<p>Selamat datang di Sistem Informasi Kepegawaian</p>-->
    <!--<hr>-->
    <!--<h1>Lihat Data Pegawai Berdasarkan NIP</h1>-->
    <!--<p>Masukkan Nomor Induk Pegawai</p>-->
    <!--<form th:action="@{/pegawai}" method="GET">-->
        <!--<input type="text" name="nip"/>-->
        <!--<button type="submit">Lihat</button>-->
    <!--</form>-->
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
        <h1>Selamat datang di Sistem Informasi Kepegawaian</h1>
        <hr>
        <h2>Lihat Data Pegawai berdasarkan NIP</h2>
        <h4>Masukkan Nomor Induk Pegawai</h4>
        <form th:action="@{/pegawai}" method="GET">
            <input type="text" name="nip" class="form-control"/>
            <button type="submit" class="btn btn-primary">Cari</button>
        </form>
        <hr>
        <h2>Lihat Detail Jabatan</h2>
        <h4>Pilih Jabatan</h4>
        <form th:action="@{/jabatan/view}" method="GET">
            <!-- <input type="text" name="jabatanId" class="form-control"/> -->
            <select name="idJabatan">
                <option th:each="jabatan : ${listJabatan}"
                        th:value="${jabatan.id}"
                        th:text="${jabatan.nama}">
                </option>
            </select>
            <button type="submit" class="btn btn-primary">Cari</button>
        </form>
</body>
</html>