<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:replace="fragments/fragment :: headerFragment('Tambah Pegawai')"></title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<div class="container">
			<div class="row">
				<h2>Tambah Pegawai</h2>
			</div>
			
			<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
				<p>
				<div class="row">
					<div class="col-lg-4">Nama</div>
					<div class="col-lg-4">
						<input type="text" name="nama" >
					</div>
				</div>
				</p>
				
				<p>
				<div class="row">
					<div class="col-lg-4">Tempat Lahir</div>
					<div class="col-lg-4">
						<input type="text" name="tempatLahir">
					</div>
				</div>
				</p>
				
				<p>
				<div class="row">
					<div class="col-lg-4">Tanggal Lahir</div>
					<div class="col-lg-4">
						<input type="Date" name="tanggalLahir" th:value="*{tanggalLahir}">
					</div>
				</div>
				</p>
				
				<p>
				<div class="row">
					<div class="col-lg-4">Tahun Masuk</div>
					<div class="col-lg-4">
						<input type="number" name="tahunMasuk" step="1">
					</div>
				</div>
				</p>
				
				<p>
				<div class="row">
					<div class="col-lg-4">Provinsi</div>
					<div class="col-lg-4">
						<select id="provinsi" name="provinsi">
						    <option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}"/>
						</select>
					</div>
				</div>
				</p>
				
				<p>
				<div class="row">
					<div class="col-lg-4">Nama Instansi</div>
					<div class="col-lg-4">
						<select name="instansi" th:value="*{instansi}" id="instansi">
						    <option th:each="instansi: ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}"/>
						</select>
					</div>
				</div>
				</p>
				
				<p>
				<div class="row">
					<div class="col-lg-4">Jabatan</div>
					<div class="col-lg-8" th:each="jabatanPegawai, statusJabatan : *{jabatanPegawaiList}" >
						<select th:field="*{jabatanPegawaiList[__${statusJabatan.index}__].jabatan}" class="col-lg-12">
						    <option th:each="jabatan, status : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"/>
						</select>
					</div>
				</div>
				<br><button type="submit" name="addJabatan">Tambah Jabatan Lainnya</button>
				</p>
				
				<button type="submit">Simpan</button>
			</form>

		</div>
		

	<script type="text/javascript">
	$(document).ready(function () {
		$("#tambahPegawai").addClass("active");   
	    $("#provinsi").change(function () {

            $.getJSON("/instansi/tambah", {
                provinsiId : $(this).val(),
                ajax : 'true'
            }, function(data) {
                var html = '';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                            + data[i].nama + '</option>';
                }
                html += '';
                console.log("berhasil");
                $('#instansi').html(html);
            });
	    });    
	        
	});
	</script>
	
		
			
	</body>
</html>