<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="fragments/fragment :: headerFragment('Update Jabatan')"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
    <h2>Ubah Jabatan</h2>
    <form th:action="@{/jabatan/ubah}" th:object=${jabatan} method="POST">
        <input type="hidden" name="id" th:value="${jabatan.id}" />
        <table>
            <tr>
                <td>Nama</td>
                <td><input type="text" name="nama" th:value="${jabatan.nama}" class="form-control"/></td>
            </tr>
            <tr>
                <td>Deskripsi</td>
                <td><input type="text" name="deskripsi" th:value="${jabatan.deskripsi}" class="form-control"/></td>
            </tr>
            <tr>
                <td>Gaji Pokok</td>
                <td><input type="number" name="gajiPokok" th:value="${jabatan.gajiPokok}" class="form-control"/></td>
            </tr>
            <tr>
                <td><button type="submit" class="btn btn-primary">Ubah</button><td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>