<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="fragments/fragment :: headerFragment('View Pegawai')"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3>Data Pegawai Termuda</h3>
                <table class="table-bordered table-responsive-md table-striped">
                    <tr>
                        <td height="30" width="300">NIP</td>
                        <td th:text="${pegawaiTermuda.nip}"></td>
                    </tr>
                    <tr>
                        <td height="30">Nama</td>
                        <td th:text="${pegawaiTermuda.nama}"></td>
                    </tr>
                    <tr>
                        <td height="30">Tempat Lahir</td>
                        <td th:text="${pegawaiTermuda.tempatLahir}"></td>
                    </tr>
                    <tr>
                        <td height="30">Tanggal Lahir</td>
                        <td th:text="${pegawaiTermuda.tanggalLahir}"></td>
                    </tr>
                    <tr>
                        <td height="30">Tahun Masuk</td>
                        <td th:text="${pegawaiTermuda.tahunMasuk}"></td>
                    </tr>
                    <tr>
                        <td height="30">Nama Instansi</td>
                        <td th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;" height="30">Jabatan</td>
                        <td style="vertical-align: top;">
                            <ul th:each="jabatanMuda : ${jabatanPegawaiTermuda}">
                                <li><p th:text="${jabatanMuda.nama}"></p></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <h3>Data Pegawai Tertua</h3>
                <table class="table-bordered table-responsive-md table-striped">
                    <tr>
                        <td height="30" width="300">NIP</td>
                        <td th:text="${pegawaiTertua.nip}"></td>
                    </tr>
                    <tr>
                        <td height="30">Nama</td>
                        <td th:text="${pegawaiTertua.nama}"></td>
                    </tr>
                    <tr>
                        <td height="30">Tempat Lahir</td>
                        <td th:text="${pegawaiTertua.tempatLahir}"></td>
                    </tr>
                    <tr>
                        <td height="30">Tanggal Lahir</td>
                        <td th:text="${pegawaiTertua.tanggalLahir}"></td>
                    </tr>
                    <tr>
                        <td height="30">Tahun Masuk</td>
                        <td th:text="${pegawaiTertua.tahunMasuk}"></td>
                    </tr>
                    <tr>
                        <td height="30">Nama Instansi</td>
                        <td th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;" height="30">Jabatan</td>
                        <td style="vertical-align: top;">
                            <ul th:each="jabatanTua : ${jabatanPegawaiTertua}">
                                <li><p th:text="${jabatanTua.nama}"></p></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>